@charset "UTF-8";
:root {
  --cor-roxo-principal: #7F66A3;
  --cor-roxo-escuro: #4A2E4B;
  --cor-azul-escuro: #385A8C;
  --cor-branco-claro: #F9F9F9;
  --cor-cinza-claro: #B8B8B8;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*que a borda faça parte*/
}
body, html{
    background-image: linear-gradient(to right, #8973a8, #7F66A3);;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: var(white);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.39);
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;

}

section#login > div#img{
    display: block;
    width: 100%;
    background: black url(../img/fundo.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}
section#login > div#formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
   
    width: 250px;
    background-color: #dad3d3;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    padding: 20px;
}

div#formulario h1{
    text-align: center;
    color: var(--cor-roxo-escuro);
    margin-bottom: 9px;
    font-size: 1.5em;
}
div#formulario p{
    text-align: center;
    color: #8f8d8d;
    margin-bottom: 20px;
    font-size: 0.8em;
}